* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #23242b;
    color: #fff;
}
.u-name {
    font-size: 20px;
    padding-left: 17px;
}
.u-name b {
    color: #127b8e;
}
.header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.header i:hover {
    color: #127b8e;
}
.user-p {
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}
.user-p img {
    width: 100px;
    border-radius: 50%;
}
.user-p h4 {
    color: #ccc;
    padding: 5px 0;

}
.side-bar {
    width: 250px;
    background: #262931;
    min-height: 100vh;
    transition: 500ms width;
}
.body {
    display: flex;
}


.side-bar ul {
    margin-top: 20px;
    list-style: none;
}
.side-bar ul li {
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    transition: 500ms background;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.side-bar ul li:hover {
    background: #127b8e;
}
.side-bar ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    letter-spacing: 1px;
}
.side-bar ul li a i {
    display: inline-block;
    padding-right: 10px;
    font-size: 23px;
}
#navbtn {
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
    transition: 500ms color;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ .body .side-bar {
    width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
    visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
    display: none;
}


/* Main container split in two */
/* Body with background image */
.body_deg {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

/* Flex container */
.container {
  display: flex;
  height: 100vh;
}

/* Left side (70%) */
.left_side {
  width: 70%;
}

/* Right side (30%) */
.right_side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7); /* transparent dark box for contrast */
}

/* Form styles */
.form_deg {
  width: 80%;
}

.login_form {
  text-align: center;
}

.title_deg {
  color: rgb(125, 125, 238);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.label_deg {
  display: inline-block;
  color: white;
  width: 100px;
  text-align: right;
  padding: 10px;
}
.email{
       display: inline-block;
  color: white;
  width: 100px;
  text-align: right;
  padding: 10px;

}

input[type="text"], input[type="password"],input[type="email"] {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid gray;
}

.login_btn {
  background-color: green;
  padding: 12px 25px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login_btn:hover {
  background-color: red;
}